<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/style.css">
<head>
    <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>דף ניהול</title>
</head>
<body>


    <h1>דף ניהול</h1>


    <p>
        <a href="/admin/add-game"><button>הוסף משחק</button></a>
    </p>
     <br>
     <p>
        <a href="/admin/results"><button>עדכן תוצאות</button></a>
    </p>
    <br>
    <form action="/admin/sync-games" method="POST">
  <button type="submit">סנכרן משחקים מהאינטרנט</button>
  

</form>
<br>
<a href="/admin/users"><button>Manage Users</button></a><div></div>

<br>

<a href="/analytics">Analytics</a>
<br>
<a href="/admin/stats"><button>stats</button></a><div></div>
<br>
<p>
        <a href="/">חזרה לעמוד הבית</a>
    </p>
<br>

</body>
</html>
