<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/style.css">
<head>
    <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>דף ניהול</title>
</head>
<body>


    <h1>דף ניהול</h1>


    <p>
        <a href="/admin/add-game">הוסף משחק</a>
    </p>
     
     <p>
        <a href="/admin/results">עדכן תוצאות</a>
    </p>
    <form action="/admin/sync-games" method="POST">
  <button type="submit">סנכרן משחקים מהאינטרנט</button>
  

</form>
<a href="/admin/users"><button>Manage Users</button></a><div></div>
<p>
        <a href="/">חזרה לעמוד הבית</a>
    </p>

</body>
</html>
