<!DOCTYPE html>
<html lang="he">
<head>
    <link rel="stylesheet" href="/public/css/style.css">
    <meta charset="UTF-8">
    <title>דף ראשי</title>
</head>
<body>


    <header>
        <h1>כותרת האתר</h1>
    </header>


    <nav>
        <a href="#">דף הבית</a> |
        <a href="#">רישום</a> |
        <a href="#">התחברות</a>
    </nav>

    <p>שלום אורח</p>

    <main>
        אזור תוכן מרכזי
    </main>


    <footer>
        אזור תחתון
    </footer>

<script src="/public/js/script.js"></script>
     <script src="/public/js/main.js"></script>
</body>
</html>
