<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="auth-page">
    <div class="auth-card">
      <h1>Login</h1>
       <br>
<br>

      <form class="auth-form" action="/login" method="POST">
        <div class="auth-field">
          <label for="username">Username</label>
          <input id="username" type="text" name="username" required>
        </div>
 <br>

       <div class="auth-field password-field">
  <label for="password">Password</label>

  <div class="password-input-wrap">
    <input id="password" type="password" name="password" required>

    <button
      type="button"
      class="toggle-password-btn"
      onclick="togglePassword('password', this)"
    >
      👁️
    </button>
  </div>
</div>
 <br>

        <button class="auth-submit" type="submit">Login</button>
      </form>
 <br>

<a href="/auth/google" class="google-login-btn">
  Continue with Google
</a>

      <div class="auth-footer">
        Don’t have an account? <a href="/register">Register</a>
      </div>

      <div class="forgot-password-box">
  Forgot your password?
  <a href="/forgot-password">Contact admin</a>
</div>
    </div>
  </div>
  <script>
  function togglePassword(id, btn) {
    const input = document.getElementById(id);

    if (!input) return;

    if (input.type === 'password') {
      input.type = 'text';
      btn.textContent = '🙈';
    } else {
      input.type = 'password';
      btn.textContent = '👁️';
    }
  }
</script>
</body>
</html>